@import 'tailwindcss';

@theme {
  --header-height: 105px;

  --color-primary: #141517;
  --color-secondary: #555557;

  --color-orange-point: #ff5f2f;
  --color-red: #ff1d0d;
  --color-white: #ffffff;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24GounNight";
  src: url("/fonts/Cafe24GounNight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "LeeSeoYoon";
  src: url("/fonts/LeeSeoYoon.woff2") format("woff2");
  font-display: swap;
}

@layer base {
  :root {
    --app-font: 'Pretendard';
  }

  html {
    font-family: var(--app-font), system-ui, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* 편지함 폴더 스크롤 바 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
